div#cardDisplayContainer > div.cardContainer > div.rulingsDisplayWrapper {
	width: 100%;
	height: 100%;
	border: 2px solid black;
	border-radius: 16px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	background-color: rgba(255, 255, 255, 1);
}

div#cardDisplayContainer
	> div.cardContainer
	> div.rulingsDisplayWrapper
	> ul.rulingsDisplayListWrapper {
	max-height: 300px;
	overflow: auto;
	list-style: circle inside;
}

div#cardDisplayContainer > div.cardContainer > div.rulingsDisplayWrapper > * {
	padding: 10px;
}

div#cardDisplayContainer
	> div.cardContainer
	> div.rulingsDisplayWrapper
	> ul.rulingsDisplayListWrapper
	> li {
	font-size: 14px;
	padding: 0 20px;
	text-align: left;
}

div#cardDisplayContainer
	> div.cardContainer
	> div.rulingsDisplayWrapper
	> ul.rulingsDisplayListWrapper
	> li
	> a {
	font-size: 14px;
	padding: 0 20px;
	text-align: left;
}

div.rulingsDisplayWrapper > h3 {
	margin: 8px;
	font-size: 16px;
	padding: 10px;
}
