p {
    margin: 10px 5px 5px 5px;
    font-size: 20px;
}

input {
    margin: 10px;
    height: 35px;
    width: 250px;
    font-size: 18px;

}

p#modifierMessage {
    margin: 0px 0px 4px 0px;
    font-size: 14px;
    font-weight: bold;
}

@media  screen and (min-width: 400px) {
    input {
        width: 350px;
    }
}